@model ActiveListViewModel

<h3>Active:</h3>


<ul class="list-group">
    @foreach (var item in Model.ToDos)
    {
        <li class="list-group-item">
            @item.Title, @item.Created

            <form asp-action="Delete" asp-controller="ToDo" asp-route-id="@item.Id" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            
            <form asp-action="Complete" asp-controller="ToDo" asp-route-id="@item.Id" method="post">
                <button type="submit" class="btn btn-primary">Complete</button>
            </form>
        </li>
    }

</ul>