@model AddViewModel

<form class="form-inline" method="post" asp-action="Add" asp-controller="ToDo">
    <input class="form-control" type="text" asp-for="Title" />
    <input class="btn btn-primary" type="submit" />
</form>